.block-field {
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.inline-oriented {
  display: inline;
}

.block-field :last-child {
  margin-bottom: 0;
}

button {
  margin-top: 20px;
}
